<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()" >Добавить машину</button>
<p *ngIf="!addCarStatus; else successStatus">Машина не добавлена</p>
<ng-template #successStatus>
  <p>Машина добавлена!</p>
</ng-template>
<hr>

<!-- 
  ПАЙПЫ - специальные трансформеры, которые можно использовать внутри HTML,
  для трансформации каких либо данных, как мне необходимо
-->
<ul>
  <li *ngFor="let date of dates; let idx = index">
    <div>
      <!-- 
        | означает, что дальше будет идти pipe, 
        который будет трансформировать данную дату
      -->
      <b>{{idx + 1}}</b> - {{ date }} <br>
      <b>{{idx + 1}}</b> - {{ date | date }} <br>
      <b>{{idx + 1}}</b> - {{ date | date:'short' }} <br>
      <b>{{idx + 1}}</b> - {{ date | date:'medium' }} <br>
      <b>{{idx + 1}}</b> - {{ date | uppercase }}
    </div>
  </li>
</ul>